 <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>
<body>
<% if user_signed_in? %>
<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">MeLAB</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><%= link_to('Top Up e-Wallet', new_account_path)%></li>
        <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li>
        <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <li><%= link_to 'Exchange Rate', posts_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>MeLAB</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="/topup">Top Up e-Wallet</a></li>
        <li><%= link_to('Edit Profile', edit_user_registration_path) %></li>
        <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        <% if current_user.superadmin_role? || current_user.supervisor_role? %>
        <li><%= link_to 'Exchange Rate', posts_path %></li>
        <% end %>
      </ul><br>
    </div>
    <br>
<% else %>
<%= link_to('Register', new_user_registration_path)%>
<%= link_to('Login', new_user_session_path)%> 
<% end %>
    
    <div class="col-sm-9">
      <div class="well">
        <center><h4>Welcome <%= current_user.email %> to "MeLAB, not your extraordinary wallet"</h4>
        <p>Start using our services and start saving!</p></center>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>RingCoin</h4>
            <p>RM 1,000.00</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>SingCoin</h4>
            <p>SGD 1,000</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bath Coin</h4>
            <p>THB 30,000</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>BitCoin</h4>
            <p>USD 500</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Debit</p> 
            <p>Description</p> 
            <p>Credit</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Debit</p> 
            <p>Description</p> 
            <p>Credit</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Debit</p> 
            <p>Description</p> 
            <p>Credit</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>