<!-- Third Container (Grid) -->
<div class="container-fluid bg-3 text-center">    
  <h1 class="margin">Online Banking</h1><br>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to image_tag("cimb.png", :height =>"200", :width => "225"), new_account_path%>
       <p>Cimb Click</p>
    </div>
    <div class="col-sm-4"> 
      <%= link_to image_tag("m2u", :height =>"200", :width => "225"), new_account_path%>
    <p>Maybank2U</p>
    </div>
      <%= link_to image_tag("rhb.png", :height =>"200", :width => "225"), new_account_path%> 
      <p>RHB Now</p>
    </div>
  </div>
</div>
<br><br><br>
<div class="container-fluid bg-3 text-center">    
  <h1 class="margin">Cash & Others</h1><br>
  <div class="row">
    <div class="col-sm-4">
      <%= link_to image_tag("cdm.jpg", :height =>"200", :width => "225"), new_account_path%>
         <p>Cash Deposit Machine</p>
    </div>
    <div class="col-sm-4"> 
       <%= link_to image_tag("paypal.png", :height =>"200", :width => "225"), new_account_path%>
         <p>PayPal</p>
    </div>
    <div class="col-sm-4"> 
      <%= link_to image_tag("bitcoin.jpg", :height =>"200", :width => "225"), new_account_path%>
         <p>CryptoCurrencies Exchange</p>
    </div>
  </div>
</div>